<%-include('../layouts/header') %>
    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">Add Blogs Details</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                        </ol>
                    </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row g-4 justify-content-center">
                    <!--begin::Col-->
                    <div class="col-md-6">
                        <!--begin::Quick Example-->
                        <div class="card card-primary card-outline mb-4 ">
                            <!--begin::Form-->
                            <form method="post" action="/addNewCategory">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <!--begin::Col-->
                                    <div class="mb-3">
                                        <label for="validationCustom02" class="form-label fw-bold">Add Category :</label>
                                        <input type="text" class="form-control" id="validationCustom02"
                                            placeholder="category" name="categoryName" required />
                                    </div>
                                   
                                <!--begin::Footer-->
                                <div class="card-footer">
                                    <a href=""><button type="submit" value="submit" name="Add category" class="btn btn-primary">Submit</button></a>
                                </div>
                                <!--end::Footer-->
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>
                    <!--end::Input Group-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </main>
    <!--end::App Main-->

    <%- include('../layouts/footer') %>